html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  transition: all 250ms ease-in-out;
}

body {
  background: #000;
  color: #fff;
}

/*font-family: 'Roboto Mono', monospace;
font-family: 'Poppins', sans-serif;*/
.login {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

.login h1 {
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 50px;
}

.login a {
  color: #fff;
  background: #49CC4C;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  border-radius: 100px;
}

.user-greet {
  margin-right: 90px;
}

.wrapper {
  margin: 30px auto 50px;
  width: 90%;
  display: flex;
  /*border: 5px solid green;*/
}

.wrapper h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
}

.title-section {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}

.exit-button a {
  color: #fff;
  background: #49CC4C;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.5s ease;
  font-family: 'Poppins', sans-serif;
}

.exit-button a:hover {
  background: #359837;
}

.top-artist-details {
  background: #232323;
  padding: 20px;
}

.top-artist-details .genres {
  display: inline;
  padding: 5px 10px 5px 10px;
}

.top-artist-details .genres p {
  font-family: 'Poppins', sans-serif;
}

.top-artist-details .genres li {
  text-decoration: none;
  display: inline;
}

.top-artist-details .name {
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 1.33px;
  text-shadow: 3px 3px 0 #4100CD;
}

.top-artist-details .genres {
  font-family: 'Roboto Mono', monospace;
  color: #4100CD;
  background: #57E5C1;
  box-shadow: 3px 3px 0 0 #FF12A1;
  width: auto;
}

.top-artist-details .genres p {
  display: inline;
}

.top-artist-details .genres li:not(:last-child):after {
  content: ','
}

.artist-link {
  height: 60px;
  width: 60px;
  background: #FF12A1;
  border-radius: 100%;
  margin-bottom: -50px;
  margin-top: 30px;
}

.artist-link a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.artist-link i {
  margin: 20px 10px 10px 14px;
}

.additional {
  margin-top: 70px;
}

.ghost-img {
  width: 70%;
  text-align: right;
  margin-left: auto;
  margin-top: -80px;
}

.ghost-img img {
  width: 100%;
  opacity: 0.5;
  position: relative;
  z-index: -1;
}

.column-left .user-info {
  font-family: 'Poppins', sans-serif;
}

.user-info .about {
  font-family: 'Roboto Mono', monospace;
  color: #FFFFFF;
  letter-spacing: 0.59px;
  margin-bottom: 50px;
  width: 100%;
  letter-spacing: 0.59px;
  line-height: 30px;
}

.column-left {
  font-family: 'Roboto Mono', monospace;
  /*background: blue*/
}

.column-right {
  /*background: red*/
}

.column-right h5 {
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 50px;
}

.top-artist-details .name {
  margin-top: 20px;
  margin-bottom: 20px;
}

.top-fives {
  margin-top: 50px;
}

.top-fives h4 {
  text-transform: uppercase;
  font-size: 16px;
}

.top-list {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

.top-list span {
  font-family: 'Roboto Mono', monospace;
}

.top-list ol {
  margin: 0;
 padding: 0;
 list-style-type: none;
}

.top-list ol li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: #FF12A1;
  color: white;
  font-weight: bold;
  padding: 9px 16px 9px 16px;
  border-radius: 100%;
}

.top-list ol li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  line-height: 40px;
  font-size: 20px;
}

.additional .name {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 1.33px;
  text-shadow: 3px 3px 0 #4100CD;
}

.additional .by {
  font-family: 'Roboto Mono', monospace;
  background: #57E5C1;
  padding: 5px 10px 5px 10px;
  display: inline;
  box-shadow: 3px 3px 0 0 #FF12A1;
  color: #4100CD;
}

.additional .by span {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 90px;
}

.additional .when {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0.59px;
  text-shadow: 2px 3px 0 #4100CD;
  margin-top: 10px;
}

.column-right {
  font-family: 'Poppins', sans-serif;
}

.column-right, .column-left {
  width: 50%;
}

.column-right .by {
  font-family: 'Roboto Mono', monospace;
}

.user-data {
  display: flex;
}

.user-data .user-info-box {
  width: 140px;
  background: #232323;
  margin-right: 3px;
  text-align: center;
}

.user-data h5 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
  font-size: 16px;
}

.user-data p {
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 22px;
  margin-top: 5px;
  letter-spacing: 0.89px;
  text-shadow: 2px 3px 0 #4100CD;
}

.top-artist-details span {
  font-family: 'Poppins', sans-serif;
}

.genres {
  line-height: 40px;
}

.footer-info {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  border-top: .5px solid #d4d4d4;
  padding: 30px;
}

.footer-info a {
  color: #FF12A1;
  text-decoration: none;
}

@media only screen and (max-width : 1045px) {
  .wrapper {
    flex-direction: column;
  }

  .column-left, .column-right {
    width: 100%;
  }

  .top-fives {
    display: flex;
    justify-content: space-between;
  }

  .top-list {
    margin-right: 50px;
  }

  .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-greet {
    margin-right: 50px;
  }


  .ghost-img img {
    width: 50%;
    opacity: 0.5;
    position: relative;
    z-index: -1;
  }
}

@media only screen and (max-width : 930px) {
  .wrapper, .title-section, .footer-info {
    width: 80%;
  }

  .user-info, .top-fives, .user-data {
    flex-direction: column;
  }

  .user-data .user-info-box {
    margin-bottom: 5px;
  }

  .top-list {
    width: 100%;
  }
}
